header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
.menubar-title {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* font-size: 30px;
	position: absolute;
	left: 46vw; */
}
.menubar-column.col-0 {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	min-width: 200px;
}
.menubar-column.col-1 {
	display: flex;
	justify-content: flex-end;
	/* justify-content: center; */
	/* align-items: center; */
	min-width: 200px;
}
.menubar-icon {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 0 5px;
}
.menubar-icon img {
	width: 30px;
}
